*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:Consolas;
}
.container {

	min-height:50vh;
	position: relative;
	padding:50px;
	}
	
.container h1 {
	font-size: 35px;
	font-family:Consolas;
	text-align:center;
	font-weight:normal;
	padding:15px;
	color:#e4b100
	height: 10vh;

}
	
	.gallery {
		display:grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap:30px;
	}
	.gallery img {
		width:100%;
	    
	}
	 